## show * when entering password
Defaults env_reset,pwfeedback

# /etc/sudoers
Cmnd_Alias BYPASS = /usr/bin/date, ~/bin/backup/backup.sh
"{{ user }}" ALL=NOPASSWD: BYPASS

%wheel ALL=(ALL) NOPASSWD: ALL
