Host security	
  StrictHostKeyChecking no
  User root
Host security.dexter.com.br	
  StrictHostKeyChecking no
  User root
Host storage		
  StrictHostKeyChecking no
  User root
Host storage.dexter.com.br	
  StrictHostKeyChecking no
  User root
Host web01		
  StrictHostKeyChecking no
  User root
Host web01.dexter.com.br		
  StrictHostKeyChecking no
  User root
Host web02		
  StrictHostKeyChecking no
  User root
Host web02.dexter.com.br		
  StrictHostKeyChecking no
  User root
Host proxy		
  StrictHostKeyChecking no
  User root
Host proxy.dexter.com.br		
  StrictHostKeyChecking no
  User root
Host mail		
  StrictHostKeyChecking no
  User root
Host mail.dexter.com.br		
  StrictHostKeyChecking no
  User root
Host devops		
  StrictHostKeyChecking no
  User root
Host devops.dexter.com.br	
  StrictHostKeyChecking no
  User root
Host cliente-externo	
  StrictHostKeyChecking no
  User root
Host cliente-externo.dexter.com.br
  StrictHostKeyChecking no
  User root
Host *
  User "{{ user }}"
